#body1{
    width: 99vw;
    height: 96vh;
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    align-items: center;

}
body{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
#play{

   font-size: 100%;
}
.font{
    object-fit: cover;
    width: 5rem;
    height: 5rem;
}
.blue{
    background-color: blue;
    border-radius: 1rem;
}
#body2{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#body2 main{
    width: 95vw;
    height: 80vh;
    background-color: aqua;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#max{
    position: absolute;
    background-color: white;
    width: 70%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    top: -1%;
}
#allplayers{
    display: flex;
    height: 70%;
    /* margin-left: 2rem; */
}
.player{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.color,.color2{
    margin: 0;
    font-size: 2rem;
}
.scoreplayer{
    border-radius: 1rem;
    width: 70%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.bacround{
    background-color: blue;
}
.with{
    color: white;
}
.scoreBackround{
    background-color: gray;
    border-radius: 1rem;
}
.green{
    background-color: green;
}
#dics{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button{
    width: 6rem;
    height: 3rem;
    background-color: white;
    border: 0;
    border-radius: 0.5rem;
}
#new{
    padding: 0.8rem;
    background-color: blue;
    color: white;
}